
body {
  font-weight: 200;
}

.site-header, .site-header .navbar {
  border: 0px;
  margin: 0px;
}

.container.blue-color-container {
  margin: 0px;
  width: 100%;
  background-color: #2A56B7;
  color: #F2F2F2;
}

.container.blue-color-container .row {
  margin: 30px 0px 30px 0px;
}

@media(min-width:768px) {
  .vertical-align-wrapper {
    display: flex;
    justify-content: center;
  }

  .vertical-align-content {
    align-self: center;
  }

  .container.blue-color-container .row {
    margin: 30px 0px 30px 45px;
  }
}

.profile-photo-circle {
  display: table-caption;
  margin: 10px auto;
  max-width: inherit;
  width: 100%;
}

@media(max-width:767px) {
  .profile-photo-circle {
    max-height: 200px;
    width: auto;
    text-align: center;
  }
}

.site-footer {
  border: 0px;
  padding: 0px;
}

.site-footer .navbar {
  border: 0px;
  margin: 0px;
}

.unstyled-list {
  list-style-type: none;
}

.horizontal-list {
  display: inline-block;
  margin: 0px;
}

.horizontal-list li {
  display: inline-block;
  float: left;
  margin-left: 15px;
}


